<br>
<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color:white;">
			<h4>Please sign in</h4>
		</div>
		<div class = "panel-body">
			<%= form_tag sessions_path, :html => { class: "form"} do %>
				<div class="form-group">
					<%= label_tag :username %>
					<%= text_field_tag :username, (params[:username] unless params[:username].blank?), class: "form-control", placehoder: "Username" %>
				</div>
				<div class="form-group">
					<%= label_tag :password %>
					<%= password_field_tag :password, (), class: "form-control", placehoder: "Password" %>
				</div>
				<div class="form-group">
					<%= submit_tag :submit, class: "btn btn-primary", value: "Sign in" %> /
					<%= link_to "Sign up", new_user_path, class: "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>