<%= link_to "Export to Excel", article_path(format: "xls") %>
<div id="pin_show" class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading pin_image">
				<%= image_tag @article.image.url(:thumb) %>
			</div>
			<div class="panel-body">
				<h1><%= @article.title %></h1>
				<p><%= @article.content %></p>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6">
						<p>Status
							<%= @article.status %>
						</p>
					</div>
					<div class="col-md-6">
						<div class="btn-group pull-right">
							<%= link_to 'back', root_path, class: "btn btn-default" %>
							<%= link_to 'edit', edit_article_path(@article.id), class: "btn btn-default" %>
							<%= link_to 'delete', article_path(@article.id), method: "DELETE", data: {confirm: 'Delete this data ? '}, class: "btn btn-default"  %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

 <div id="form-comment">

        <%= render 'form' %>

    </div>


    <h4>Here the comments</h4>


    <div id="list-comments">

        <%= render 'comments' %>

    </div>
