<b>Title :</b><br>
<%= @article.title %><br>
<b>Content :</b><br>
<%= @article.content %><br>
<b>Status:</b><br>
<%= @article.status %><br>

<b>Comments :</b>
<% @comments.each do |comment| %>

        <p>

        <b><%= comment.user.try(:username) %></b>

        <br />

        <%= comment.content %>

        </p>

    <% end %>
