<h1>article Import</h1>
<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>
<ul>
	<% Article.columns.each do |column| %>
		<% if column.title.in? ["id", *Article.accessible_attributes] %>
			<li>
				<strong><%= column.title %></strong> -
				<%= column.type.to_s.titleize %> type
			</li>
		<% end %>
	<% end %>
</ul>

<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>
<%= form_for @article_import do |f| %>
	<% if @article_import.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@article_import.errors.count, "error") %> prohibited this import from completing:</h2>
			<ul>
			<% @article_import.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<div class="field">
	<%= f.file_field :file %>
</div>

<div class="buttons"><%= f.submit "Import" %></div>
<% end %>